* {
  user-select: none;
  font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background-color: #ecedef;
  color: black;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
  letter-spacing: 0.1025em;
  font-size: 1em;
  border-bottom: 4px solid transparent;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-popup {
  width: max-content;
  min-width: 300px;
  height: 60px;
  position: fixed;
  top: 5.5rem;
  right: 0;
  border: 4px solid;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  animation: drop 0.7s ease forwards, raise 0.7s 3s ease forwards;
  &.error-message {
    background-color: rgb(240, 164, 164);
    border-color: rgb(253, 64, 64);
    color: red;
  }
  &.alert-message {
    background-color: rgb(190, 214, 241);
    border-color: rgb(47, 144, 255);
    color: rgb(92, 168, 255);
  }
}

@keyframes drop {
  0% {
    right: -500px;
  }
  10% {
    right: -200px;
  }
  40% {
    right: 30px;
  }
  60% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}
@keyframes raise {
  0% {
    right: 0px;
  }
  30% {
    right: -400px;
  }
  100% {
    right: -500px;
  }
}
