.homepage-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.homepage-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
}

.homeNav {
  z-index: 1;
  height: 77px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);

  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;

    .nav-options {
      position: absolute;
      right: 8rem;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 40px;
      list-style-type: none;

      .mobile-option {
        display: none;

        .sign-in {
          padding-right: 50px;
          align-self: center;

          &:hover {
            color: rgb(59, 59, 226);
          }
        }
      }

      .nav-option {
        margin: 0;
        padding: 0;
      }
    }

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .homepage-logo {
        width: 8rem;
        height: 7rem;
      }
    }
  }

  .nav-signIn {
    display: flex;
    list-style-type: none;
    padding: 0;

    .nav-signIn-item {
      margin: 0;
      padding: 0;
    }

    .signIn-btn {
      padding: 10px 10px;
      border-radius: 3px;
      background: #2a9d8f;
      color: white;
      cursor: pointer;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1025em;
      font-size: 1em;
    }
  }

  .mobile-menu {
    display: none;
  }
}

.home-nav-link {
  padding: 23px 20px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 0.1025em;
  font-size: 1em;
  border-bottom: 4px solid transparent;

  &:hover {
    color: #ffc719;
    padding: 23px 20px;
    transition-duration: 0.5s;
    transition-property: border;
    border-bottom: 4px solid #ffc719;
  }
}

.homeView {
  display: flex;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  // width: 100%;
  padding: 0 4.5vmin;
  overflow-x: hidden;

  .welcome {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    height: 45vh;

    .welcome-header {
      font-size: 9.25vmin;
      letter-spacing: 0.185vmin;
      width: 100%;
      margin: -9.25vmin 0 0;
      color: rgb(255, 255, 255);
      opacity: 1;
      text-align: center;
      text-transform: uppercase;
    }

    .welcome-span {
      text-transform: uppercase;
      font-size: 3.5vmin;
      opacity: 1;
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 2.5rem 0rem 3rem 0rem;
    }

    .start-btn {
      opacity: 1;
      transition: color 0.3s linear, border-color 0.3s linear;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.9);
      border: 2px solid rgba(255, 255, 255, 0.7);
      outline: 0;
      background: 0 0;
      text-decoration: none;
      padding: 2.2vmin 3.75vmin;
      margin: 0 3px;
      font-size: 2.2vmin;
      letter-spacing: 0.14667vmin;
      line-height: 1;
      cursor: pointer;

      &:hover {
        color: #ffc719;
        border: 2px solid #ffc719;
      }
    }
  }
}

.guide-view {
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .guide-title {
    margin-bottom: 1rem;
  }

  .guide-content {
    text-align: center;
  }
}

.about-view {
  background-color: rgb(124, 18, 18);
  color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .about-title {
    margin-bottom: 1rem;
  }

  .about-content {
    text-align: center;
  }
}

.homepage-footer {
  background: #e49898;
  position: relative;
  width: 100%;
  z-index: 1;

  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .footer-left {
    margin-left: 3rem;
  }

  .footer-right {
    margin-right: 3rem;
  }

  .footer-left,
  .footer-right {
    padding: 20px 0;
  }

  .footer-list {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;

    .footer-list-item {
      display: inline-block;
      margin: 0 20px;

      .footer-text {
        margin-bottom: 0.5rem;
        color: #fff;
      }

      .social-icon {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .footer-link {
    color: #fff;
    text-decoration: none;
  }

  .footer-text {
    color: #fff;
    margin: 0;
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .homeNav {
    height: 60px;

    .logo-nav {
      padding: 0 1rem;

      .logo-container {
        .homepage-logo {
          width: 6rem;
          height: 5rem;
        }
      }
    }
  }

  .nav-options {
    display: flex !important;
    width: 100%;
    position: absolute !important;
    top: 60px;
    left: -100% !important;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px !important;
    margin-right: 0 !important;
    background: rgba(152, 153, 209, 0.95);
    padding: 0;
    z-index: 20;

    &.active {
      left: 0 !important;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 20;
      align-content: center;
      padding-left: 0px;
    }

    .mobile-option {
      display: flex !important;
    }

    .nav-option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 15px 0px;
      width: 100%;
      text-align: center;
    }
  }

  .nav-signIn {
    display: none !important;
  }

  .mobile-menu {
    display: block !important;
    margin-right: 10px;

    .menu-icon {
      width: 30px;
      height: 30px;
      color: white;
    }
  }

  .home-nav-link {
    color: white;
    width: 100%;
    display: block;
    text-align: center;

    &:hover {
      color: #ffc719;
      border-bottom: none;
    }
  }

  .homeView {
    .welcome {
      .welcome-header {
        font-size: 7vmin;
        margin-top: 0;
      }

      .welcome-span {
        font-size: 3vmin;
      }
    }
  }
}

@media (min-width: 992px) {
  .homepage-footer .footer-left {
    float: left;
  }
  .homepage-footer .footer-right {
    float: right;
  }
}

@media (max-width: 991px) {
  .homepage-footer {
    text-align: center;

    .footer-container {
      flex-direction: column;
      align-items: center;
    }

    .footer-left,
    .footer-right {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .homepage-footer .footer-text {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .homeView {
    .welcome {
      .welcome-header {
        font-size: 5.5vmin;
      }

      .welcome-span {
        font-size: 2.5vmin;
      }
    }
  }
}
